<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>登录</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>

<body>
    <div id="app">
        <el-header>header</el-header>
        <el-main>
            <el-input v-model="userName" placeholder="账号"></el-input>
            <el-input v-model="password" placeholder="密码"></el-input>
            <el-button @click="login">登录</el-button>
        </el-main>
    </div>
    <script src="./js/vue.js"></script>
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <!-- axios请求库 -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        new Vue({
            el: '#app',
            data() {
                return {
                    userName: null,
                    password: null
                }
            },
            created() {
                console.log(this.visible)
            },
            methods: {
                login() {
                    let data = {
                        email: this.userName,
                        password: this.password
                    }
                    axios.post('/api/login', data)
                        .then(function (response) {
                            console.log(response);
                        })
                        .catch(function (error) {
                            console.log(error);
                        });
                }
            },
        })
    </script>
</body>

</html>